<html class='rollPageR'>
<table id = 'rolltable' class='RollBox'>
    <tr>
        <td>
          <input type='button'id='D1' onclick='clickme(this);' value='<%= @rollArray[0] %>'/>
        </td>
        <td>
            <input type='button'id='D2' onclick='clickme(this);' value='<%= @rollArray[1] %>'/>
        </td>
    </tr>
    <tr>
        <td>
           <input type='button'id='D3' onclick='clickme(this);' value='<%= @rollArray[2] %>'/>
        </td>
        <td>
            <input type='button'id='D4' onclick='clickme(this);' value='<%= @rollArray[3] %>'/>
        </td>
    </tr>
    <tr>
        <td>
           <input type='button'id='D5' onclick='clickme(this);' value='<%= @rollArray[4] %>'/>
        </td>
        <td>
            <input type='button'id='D6' onclick='clickme(this);' value='<%= @rollArray[5] %>'/>
        </td>
    </tr>
</table>

<script>
   var used = [];
   window.test='a';
    function clickme(pid)
    {
        if(window.isSelected == 1) {
        var pele = document.getElementById(window.selectedID);
        pele.setAttribute('class','');
        }
        var ele = pid;//document.getElementById(pid);
        parent.parent.selectedValue = ele.value;
        parent.parent.selectedID = ele.id;
        parent.parent.isSelected = 1;
        ele.setAttribute('class','clicked');
    }
    function unClick(pid)
    {
        var ele = document.getElementById(pid);
        ele.setAttribute('class','dclicked');
    }
</script>
</html>