<% statShow = @character.stats.split(',') #@statString.split(',') 
    races = ["Dwarf", "Elf", "Halfling", "Human", "Dragonborn", "Gnome", "Half-Elf", "Half-Orc", "Tiefling"]
    classes = ["Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"]
%>


<div class='CCBox'>
    <table>
        <tr>
            <td>
                    <label>Label:</label>
            </td><td>
                    <%=  @character.label %>
            </td><td>
                   <label>Name:</label>
            </td><td>
                   <%=  @character.name %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Race:</label>
            </td><td>
                   <%= races[Integer(@character.race)] %>
            </td><td>
               <label>Class:</label>
            </td><td>
                   <%= classes[Integer(@character.charclass)] %>
            </td>
        </tr>

        <tr>
            <td>
                   <label>Strength:</label>
            </td><td>
                   <%= statShow[0] %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Dexterity:</label>
            </td><td>
                   <%= statShow[1] %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Constitution:</label>
            </td><td>
                   <%= statShow[2] %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Intelligence:</label>
            </td><td>
                   <%= statShow[3] %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Wisdom:</label>
            </td><td>
                   <%= statShow[4] %>
            </td>
        </tr>
        <tr>
            <td>
                   <label>Charisma:</label>
            </td><td>
                   <%= statShow[5] %>
            </td>
        </tr>
        
    </table>
    
</div>
<table>
    <tr>
        <td>
            
            <form method="GET" action="/char_create/<%= @character.id %>/edit">
                <input type='submit' value="UPDATE">
            </form>
        </td>
        <td>
          <form method="POST" action="/char_create/<%= @character.id %>/del">
              <input type='submit' value="DELETE">
              
          </form>
        </td>
    </tr>
</table>
<a href = '/welcome/index'>Home</a>